html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active  {
	color: #000;
	text-decoration: underline;
}

.post-img {
	width: 100%;
	border-radius: 5px;
}

footer a, footer a:visited, .location a, .location a:visited {
	color: #FFF;
	text-decoration: none;
}

footer a:hover, footer a:active, .location a:hover, .location a:active  {
	color: #CCC;
	text-decoration: underline;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #000;
	color: #FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: .1em;
	font-size: 16px;
	padding: 10px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 5000;
}

.location {
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	color: #FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: .1em;
	font-size: 16px;
	padding: 10px;
	z-index: 5000;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.row {
	margin: 0;
}

#map {
	width: 100%;
	height: 300px;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	z-index: 1;
	margin: 0 0 25px 0;
}

.shadow {
	-moz-box-shadow:    0 1px 2px 3px #ccc;
	-webkit-box-shadow: 0 1px 5px 3px #ccc;
	box-shadow:         0 1px 3px 1px #ccc;
}

h1, h2, h3, h4 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.post-icon {
	display: block;
	max-height: 75px;
	margin-right: auto;
	margin-left: auto;
	margin: 25px auto;
}

.post {
	padding: 25px 0;
}

.post h2, .post h4 {
	text-align: center;
}

#map h1 {
	font-size: 20px;
	margin: 15px 0;
}

#map a {
	color: #000;
}

.fullscreen {
	width: 100%;
	height: 100vh !important;
}

.feed {
	margin: 350px 0 100px 0;
}

.feed h3, .feed h4 {
	margin-bottom: 0;
}
.feed img {
	max-height: 50px;
}

.feed hr {
	margin: 0;
}

.container {
	margin-bottom: 100px;
}

#wellbeing {
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
}

#wellbeing::after {
	content: "";
	background: url('/images/water.jpg');
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.chart {
	margin-top: 10%;
	border-top: 8px rgba(155,155,155,.6) solid;
}

.chart rect {
	fill: #333;
	opacity:.6;
}

.chart rect:hover {
	opacity: 1;
}


.chart text {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: .2em;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-size: 16px;
  	fill: #FFFFFF;
	text-anchor: middle;
	cursor: default;
}
.chart text:hover {
	color: #000;
}

body #current-state {
	background: url('/images/water.jpg');
}

